<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

    <div id="container">
        <div id="form-wrapper">
            <form action="/results" method="POST">
                <label for="">Name: <input type="text" name="name"></label>
                <label for="">Location: <select name="location" id="">
                        <option value="San Jose">San Jose</option>
                        <option value="Burbank">Burbank</option>
                        <option value="Tulsa">Tulsa</option></select>
                </label>
                <label for="">Language: <select name="language" id="">
                        <option value="Python">Python</option>
                        <option value="JavaScript">JavaScript</option>
                        <option value="Ruby">Ruby</option></select>
                </label>
                <label for="">Comment: <textarea name="comment" cols="30" rows="10"></textarea></label>
                <input type="submit" name="" id="submit">
            </form>
        </div>
    </div>

</body>
</html>